# Git tarafından izlenmemesi gereken dosyalar ve klasörler
venv/
.venv/
__pycache__/

# Büyük dosyalar ve gereksiz kurulumlar
google-cloud-cli*
*.tar.gz

# Vektör veritabanı (Deploy için zorunlu olarak hariç tutulmalı)
#faiss_index_recipes/
recipes.csv

# Çıktı ve log dosyaları
*.log
*.out




