# LangChain v0.1.16'ya sabitleyerek import hatalarını çözüyoruz.
langchain==0.1.16

# Diğer ana bağımlılıklar
pandas
google-cloud-aiplatform
langchain-google-vertexai
langchain-google-genai 

# Vektör veritabanı (Kurulumu basit olan ChromaDB'ye geçildi)
chromadb 

# Web arayüzü
streamlit

websockets==14.1
typing_extensions==4.12.2